<section class="page-section bg-light" id="engfta">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">F T A<br><br></h2>
      <h3 class="section-subheading text-muted">By easing or abolishing trade barriers such as taxes and import restrictions imposed when buying and selling goods or services between FTA-agreed countries, In order to promote mutual trade, an FTA certificate of origin is required.
        Accordingly, we provide professional services such as issuing certificates of origin to exporters and obtaining certificates of origin and applying FTA agreement tariffs to importers.
    </div>
  </div>
  <div class="container" style="padding-bottom:20% ; text-align:center">
    <div class="text-center">
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>                
                <i class="fas fa-scroll fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Certificates of Origin</h4>
            <p class="text-muted">Issuing Certificates of origin,
                 Origin Verification Questionnaire</p>
        </div>
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-success"></i>
                <i class="far fa-check-circle fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Attested Exporter</h4>
            <p class="text-muted">Acquisition of Certificate of Origin Exporters
                Practical Trainning for FTA</p>
        </div>

        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-info"></i>
                <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">FTA consultation</h4>
            <p class="text-muted">Establishment of a strategy
                Consultation on the Processes
                Supporting for Document preparation 
                & Customs operation Service of FTA</p>
        </div>
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-teal"></i>
                <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">FTA project 
                by sponsored Government</h4>
            <p class="text-muted">Supporting for export companies utilizing FTA</p>
        </div>
    </div>
  </div>
</section>
