<section class="page-section bg-light" id="engimexneeds">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Import and Export requirements</h2>
            <h3 class="section-subheading text-muted">
                After reviewing individual laws and regulations subject to confirmation by the customs according goods, 
                we apply for performance or exemption for each the necessary requirements.<br>
                We can reduce the import customs clearance time.<br>
                Quickly and accurately checking about the HS code, tariff rate, and documents for imported goods.
        </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/1-1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading">Electric products & Necessaries 
                            of Act on Safety Control </div>
                        <div class="portfolio-caption-subheading text-muted">Cable, Appliance, 
                            Monitor,Lamp etc.<br> Certificate of safety
                            (Korean Agency for Technology and Standards)</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/2-2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading"> The Wireless Telegraphy Act </div>
                        <div class="portfolio-caption-subheading text-muted">Cable, Appliance, Monitor,Lamp,
                            Bluetooth Receiver etc.<br>Conformity Authentication, Tentative Recognition
                            (National Radio Research Agency)</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/3-3.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading">The Special Act on 
                            safety of import food </div>
                        <div class="portfolio-caption-subheading text-muted">Food, Food storage containers etc.<br>The certificate of import declaration 
                            (Ministry of Food and Drug Safety)</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/4-4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading"> Plant Protection Act </div>
                        <div class="portfolio-caption-subheading text-muted">Lumber, Vegetable Ingredients etc.<br>Certificate of Quarantine
                            (Animal and Plant Quarantine Agency)</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/5-5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading">The act on safety of 
                            chemicals & biocide</div>
                        <div class="portfolio-caption-subheading text-muted">Sented Candle, Brightener etc.<br>Declaration, Approval of safety certificate
                            (Ministry of Environment)</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            {% comment %} <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div> {% endcomment %}
                        </div>
                        <img class="img-fluid" src="/static/assets/img/portfolio/6-6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption" style="text-align: center;">
                        <div class="portfolio-caption-heading">The special act on safety goods 
                            for childrenof goods for children</div>
                        <div class="portfolio-caption-subheading text-muted">Children's Clothing, Toy<br> Certificate of safety
                            (Korean Agency for Technology and Standards)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        {% comment %} <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">안전인증 / 안전확인(국가기술표준원)</h2>
                                    <p class="item-intro text-muted">전기용품 및 생활용품 안전관리법</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/1-1.jpg" alt="..." />
                                    <p>전선 케이블, 전자제품, <br>모니터, 램프 등</p>
                                    <ul class="list-inline">
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">전파법</h2>
                                    <p class="item-intro text-muted">적합인증,등록,잠정인증(국립전파연구원)</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/2-2.jpg" alt="..." />
                                    <p>전자제품, 모니터, 램프, <br>블루투스 수신장치 등</p>
                                    <ul class="list-inline">

                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">수입식품 안전관리 특별법</h2>
                                    <p class="item-intro text-muted">수입식품등의 수입신고확인증(식품의약품안전처)</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/3-3.jpg" alt="..." />
                                    <p>식품,식품용기,도구 등</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">식품방역법</h2>
                                    <p class="item-intro text-muted">수입식물검역 증명서(농림축산검역본부)</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/4-4.jpg" alt="..." />
                                    <p>목재류,식물성 재료 제품 등</p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">생활화학제품 및 살생물체의 <br>안전관리에 관한 법률</h2>
                                    <p class="item-intro text-muted">안전확인 신고, 승인(환경부)</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/5-5.jpg" alt="..." />
                                    <p>향초,광택제 등</p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">어린이제품 안전 특별법</h2>
                                    <p class="item-intro text-muted">안전인증/안전확인(국가기술표준원)</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/6-6.jpg" alt="..." />
                                    <p>완구류,유아용 의복 등</p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}