<section class="page-section bg-light" id="fta">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">F T A<br><br></h2>
      <h3 class="section-subheading text-muted">FTA 협정국가 간에 상품이나 서비스를 사고 팔때 부과하는 세금이나 수입제한 등의 무역장병을 완화하거나 철폐하여<br>
        상호간의 교역 증진을 위해서는 FTA 원산지증명서가 필요합니다.<br>
        이에 따라 수출기업에 대해서 원산지증명서 발급, 원산지인증수출자 취득을,<br>
        수입기업에 대해서는 FTA 협정관세 적용 등에 대해 전문적인 서비스를 제공합니다.
    </div>
  </div>
  <div class="container" style="padding-bottom:20% ; text-align:center">
    <div class="text-center">
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>                
                <i class="fas fa-scroll fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">원산지증명서</h4>
            <p class="text-muted">원산지증명서 발급 <br>원산지확인서 및 원산지소명서 발급</p>
        </div>
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-success"></i>
                <i class="far fa-check-circle fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">원산지인증수출자</h4>
            <p class="text-muted">원산지인증수출자 취득 <br>FTA실무교육</p>
        </div>

        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-info"></i>
                <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">FTA 자문</h4>
            <p class="text-muted">원산지 충족전략 수립<br>수출입업무프로세스 개선 자문<br>FTA 문서작성 지원<br>FTA 세관업무 지원</p>
        </div>
        <div class="col-md-3" style="float:left;">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-teal"></i>
                <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">FTA 정부지원사업 수행</h4>
            <p class="text-muted">FTA활용 수출기업 지원</p>
        </div>
    </div>
  </div>
</section>
