       <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About F.C.B</h2>
                    <h3 class="section-subheading text-muted">고객님들이 잘하시는 것에 집중하실 수 있도록 
                        저희가 잘하는 것을 하겠습니다.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                            
                        </span>
                        <h4 class="my-3">최적의 입지</h4>
                        <p class="text-muted">인천 신항/구항 지역에 사무실 위치, <br>부산항에 출장사무소 보유. 유사시에 신속한 대응</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-fas fa-search-minus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">통관 및 심사 RISK 최소화</h4>
                        <p class="text-muted">관세사 직접 통관으로 법적안정성 보장 <br> 외환/심사 등 RISK 최소화</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-fas fa-network-wired fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">전세계 네트워크 구축</h4>
                        <p class="text-muted">중국/홍콩/일본/베트남<br>지사 네트워크를 통한 신속, 정확한 업무 진행</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-fas fa-project-diagram fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">고퀄리티 통관 system</h4>
                        <p class="text-muted">자체 프로그램 개발<br>업무 신속성 및 정확성 확보 <br> 오류 및 단가 적정성 판단</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-far fa-handshake fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">전담직원 배정</h4>
                        <p class="text-muted">고객사별 전담 전산직원 담당자 배정<br>업무 안정성 및 전문성 극대화</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">고객사별 자금안정성</h4>
                        <p class="text-muted">CL-FMS PROGRAM 도입,<br>업체별 단일 가상계좌 관리로 <br>자금관리 효율성 및 safety 확보</p>
                    </div>
                </div>
            </div>
        </section>